{% extends "design/responsivebase.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="display-3">CHETAN Private Limited</h1>
            <h5 class="display-6">crew people</h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <h5 class="display-6">Our Crew People</h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/mahesh.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">MAHESH</h5>
                <p class="card-text">President of a company</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/rashmika.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">RASHMIKA</h5>
                <p class="card-text">Cheif Executive Officer of a company</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/hritik.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">HRITIK</h5>
                <p class="card-text">Cheif Operating Officer of a company</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/pooja.png" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">POOJA</h5>
                <p class="card-text">Cheif Financial Officer of a company</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/sid.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">SIDDHARTH</h5>
                <p class="card-text">Cheif Legal Officer of a company</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/genelia.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">GENELIA</h5>
                <p class="card-text">Cheif Marketing Officerof a company</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
    </div>
 {% endblock  %}